<br />
<div class="jumbotron- py-3" s>
    <h1 class="display-4 text-center">Books Collection</h1>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <app-book-form></app-book-form>
    </div>
    <div class="col-md-9">
        <h5 class="display-6 text-center">Book Details</h5>
        <br />
        <br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Book title</th>
                    <th>Date Of Publish</th>
                    <th>Number Of Pages</th>
                    <th>Authors</th>
                    <th>Publisher</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of service.booksList" >
                    <td>{{book.title}}</td>
                    <td>{{book.dateOfPublish}}</td>
                    <td>{{book.numberOfPages}}</td>
                    <td> 
                    <ul>
                        <li *ngFor ="let author of book.authors">{{author.name}}</li>
                    </ul>
                    </td>
                    <td>{{book.publisher}}</td>
                    <td>
                        <i (click)="populateForm(book)" style="cursor: pointer" class=" far fa-edit fa-lg text-info m-1"></i>
                        <i (click)="onDelete(book.id)" style="cursor: pointer" class="far fa-trash-alt fa-lg text-danger ml-1"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>